.Contact-Contents {
    font-size: 1.3em;
    text-align: center;
}
.Github-Link-Contact {
    text-decoration: none;
    color: #4babff;
}
.Reddit-Link-Contact {
    text-decoration: none;
    color: #4babff;
}
.Email-Link-Contact {
    text-decoration: none;
    color: #4babff;
}