.Navigation {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.Name-Container {
    padding-top: 0.3em;
    text-align: center;
    font-size: 4em;
}
.Link-Container {
    font-size: 3em;
    text-align: center;
    padding-bottom: 0.5em;
}
.Home-Link {
    text-decoration: none;
    color: red;
}
.About-Link {
    text-decoration: none;
    color: #0040a6;
}
.Contact-Link {
    text-decoration: none;
    color: #007527;
}
.Blog-Link {
    text-decoration: none;
    color: #cc9600;
}
